apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: llm-testing-waldur-com
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: ghcr.io/jaxhend/llm-for-waldur/frontend:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          env:
            - name: BASIC_AUTH_USER
              valueFrom:
                secretKeyRef:
                  name: auth-secret
                  key: username
            - name: BASIC_AUTH_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: auth-secret
                  key: password
            - name: NEXT_PUBLIC_API_URL
              valueFrom:
                  secretKeyRef:
                      name: auth-secret
                      key: api_url
      resources:
        requests:
          memory: "128Mi"
          cpu: "100m"
        limits:
          memory: "256Mi"
          cpu: "500m"
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: llm-testing-waldur-com
spec:
  selector:
    app: frontend
  ports:
    - port: 80
      targetPort: 3000
  type: ClusterIP
